@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");


body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

p {
    font-size: .89em !important;
}

.content-wrapper{
    background-color: #F8F8FF !important ;
}
.sidebar{
    background-color: #fff;
}

.brand-logo img{ width: 100px !important;}
.main-panel {
    transition            : width 0.25s ease, margin 0.25s ease;
    width                 : 100%;
    min-height            : calc(100vh - 70px);
    display               : -webkit-flex;
    display               : flex;
    -webkit-flex-direction: column;
    flex-direction        : column;
}
.card-noshadow {
    box-shadow   : none !important;
    border-radius: 15px;
}

.bg-login {
    background-image   : url("../images/bg.jpg");
    height             : 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    background         : #333333;
}

.btn {
    padding: 0.5rem 1.5rem;
}

.card-box {
    position: relative;
    color   : #fff;
    padding : 20px 10px 30px;
    margin  : 20px 0px;
    overflow: hidden;
}

.card-box:hover {
    text-decoration: none;
    color          : #f1f1f1;
}

.card-box:hover .icon i {
    font-size         : 135px;
    transition        : .3s;
    -webkit-transition: .3s;
}

.card-box .inner {
    padding: 5px 10px 0 10px;
}

.card-box h3 {
    font-size  : 27px;
    font-weight: bold;
    margin     : 0 0 8px 0;
    white-space: nowrap;
    padding    : 0;
    text-align : left;
}

.card-box p {
    font-size: 15px;
}

.card-box .icon {
    position : absolute;
    top      : auto;
    bottom   : 10px;
    right    : 5px;
    z-index  : 0;
    font-size: 7rem;
    color    : rgba(0, 0, 0, 0.1);
    transform: rotate(20deg);
}

.card-box .card-box-footer {
    position       : absolute;
    left           : 0px;
    bottom         : 0px;
    text-align     : center;
    padding        : 3px 0;
    color          : rgba(255, 255, 255, 0.8);
    background     : rgba(0, 0, 0, 0.03);
    width          : 100%;
    text-decoration: none;
}

.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}

.blue-900 {
    color: #1565c0 !important;
}

.red-800 {
    color: #c62828 !important;
}

.green-800 {
    color: #00796B !important;
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}


.login-wrapper {
    /* The image used */
    background-image   : url("../images/bg0-3.jpg");
    /* Full height */
    height             : 100%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat  : no-repeat;
    background-size    : cover;

}


.auth .brand-logo img {
    width: 80px;
}

.lucida-font {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

.auth .auth-form-light {
    background         : #fff;
    /* background-color: rgba(255, 255, 255, .9); */
    /* backdrop-filter : blur(8px); */

}

.table td img {
    width        : 300px !important;
    height       : 250px !important;
    border-radius: 0 !important;
    object-fit   : fill;
}

.text-decoration-none {
    text-decoration: none
}

/* ============= */
.rating {
    float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
.rating:not(:checked)>input {
    position  : absolute;
    top       : -9999px;
    left      : -9999px;
    visibility: hidden;
    clip      : rect(0, 0, 0, 0);

    /* note: this type of setup will  make your page jump to  top when u clik radio button */
    /* position: absolute;
    top        : -9999px;
    clip       : rect(0, 0, 0, 0); 
    ----------------------------------------------------------------------------------------*/

}

.rating:not(:checked)>label {
    float         : right;
    width         : 1em;
    /* padding    :0 .1em; */
    overflow      : hidden;
    white-space   : nowrap;
    cursor        : pointer;
    font-size     : 300%;
    /* line-height:1.2; */
    color         : #ddd;
}

.rating:not(:checked)>label:before {
    content: '★ ';
}

.rating>input:checked~label {
    color      : #FBC02D;
    text-shadow: 0 0 5px #FBC02D;

}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color      : #FBC02D;
    text-shadow: 0 0 5px #FBC02D;

}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #FBC02D;

}

.rating>label:active {
    position: relative;
    top     : 2px;
    left    : 2px;
}

.dialog-background {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    height    : 100%;
    left      : 0255;
    margin    : 0;
    padding   : 0;
    position  : absolute;
    top       : 0;
    width     : 100%;
    z-index   : 100;
}

.dialog-loading-wrapper {
    background : none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border     : 0 none;
    height     : 100px;
    left       : 50%;
    margin-left: -50px;
    margin-top : -50px;
    position   : fixed;
    top        : 50%;
    width      : 100px;
    z-index    : 9999999;
}


/* ============Article===================== */

.article-title {
    font-weight: 600 !important;
    font-size  : 1.3rem !important;
}

/* ============Accordion icon===================== */



.accordion .card-header:after {
    font-family: 'Font Awesome 5 Free';
    content    : "\f106";
    float      : right;
    font-weight: 700;
    font-size  : 1.2rem;
    color      : red;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */

    color      : #08c;
    font-weight: 700;
    font-size  : 1.2rem;
    content    : '\f107';
    font-family: "Font Awesome 5 Free";
}





/* customize look and feel  */
/* =========editor summer =========== */
.note-editor.note-airframe,
.note-editor.note-frame {
    border: 1px solid #e6e6e6 !important;
}

.note-editor .note-toolbar,
.note-popover .popover-content {
    background-color: aliceblue;
}

.note-editor.note-airframe .note-statusbar,
.note-editor.note-frame .note-statusbar {
    background-color: rgb(36 138 253 / 17%) !important;

    border-top: 1px solid #e9ecef !important;
}

/* =========card=========== */
.content-card {
    background-color: rgb(201 222 246 / 9%);
    border-color    : #e9ecef;
    border-radius   : 18px;
}

.content-card .card-header {
    background-color: transparent !important;
    border-bottom   : none;
}

.card-news-preview {
    border-radius: 15px !important;
}

.card-img {
    max-height                : 242px;
    border-bottom-left-radius : 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius   : 15px;
    border-top-left-radius    : 15px;
}

.card-title {
    margin-bottom: 0.3rem;
}

.cat {
    display      : inline-block;
    margin-bottom: .3rem;
}

.fa-users {
    margin-left: 1rem;
}

.card-footer {
    font-size: .85rem;
}

.news-footer-divider {
    font-weight: 900;
    color      : #b0bec5;
}

/* =============bootstrap Badge =============== */
.badge-warning {
    color           : #ffffff;
    background-color: #2196f3;
}

/* ===============dropzone===================== */
.dropzone {
    min-height: 150px;
    border    : 2px dashed rgba(36, 138, 253, 0.5) !important;
    background: white;
    padding   : 12px 15px !important;
}

.dz-image img {
    width : 120px;
    height: 120px
}



/* ============= others ==================== */
.no-shadow {
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0);
}


.article-title {
    font-size: 1rem;

}

.right-side-content {
    background-color: aliceblue;
    border-radius   : 15px;
}

.right-side-content .card {
    margin: 15px;
}